---
import Layout from "../../layouts/Layout.astro";
import CitizenCard from "../../components/CitizenCard.astro";
import { citizens } from "../../data/citizens";

export function getStaticPaths() {
  return Object.values(citizens).map((c) => ({
    params: { id: c.id },
    props: {
      id: c.id,
      name: c.name,
      surname: c.surname,
      mugshot: c.mugshot
    }
  }));
}

const { id, name, surname, mugshot } = Astro.props;
---

<Layout title={`Ciudadano ${name} ${surname}`}>
  <div class="body-content">
    <CitizenCard
      id={id}
      name={name}
      surname={surname}
      mugshot={mugshot}
    />
  </div>
</Layout>

