---
import Layout from "../layouts/Layout.astro";
import StatsCard from "../components/cards/StatsCard.astro";
import PageHeader from "../components/general/PageHeader.astro";
import PoliceInfoCard from "../components/cards/PoliceInfoCard.astro";
import GridContainer from "../components/general/GridContainer.astro";


import { sourceOfficerData } from "../data/officer"

const prefix = sourceOfficerData.gender == 'm' ? 'Sr.' : "Sra."
const officerName = `${prefix} ${sourceOfficerData.name.toUpperCase()} ${sourceOfficerData.surname.toUpperCase()}` 
---

<Layout title="Home">
    <PageHeader 
        icon="local_police"
        title={officerName}
        description="Sistema centralizado de la policia nacional"
        showSearch={false}
        searchPlaceholder=""
    />
    <div class="body-content">
        <div class="officer-stats-container">
            <StatsCard title="Total multas", 
            desc="Total de multas impuestas y cobradas por el oficial"
            icon="payments" specValue="10" monto="50000$"/>
            <StatsCard title="Total horas de servicio", 
            desc="Total de horas ejercidas en servicio por el oficial"
            icon="av_timer" specValue={String(sourceOfficerData.serviceHours)}/>
            <StatsCard title="Rango", 
            desc="Rango actual del oficial"
            icon="social_leaderboard" specValue={sourceOfficerData.rank}/>
        </div>
        <div class="police-info-container">
            <GridContainer columns={2}>
                <PoliceInfoCard
                    title="Normativa" 
                    desc="Debes constantemente estar revisando las reglas de la policía, para que puedas cumplir tu trabajo de manera excepcional." 
                    href="#"
                    link_label="Ver normativa..."
                />
                <PoliceInfoCard
                    title="Organigrama" 
                    desc="Revisa el organigrama de la institución, para conocer a tus compañeros, superiores o tus personas a cargo." 
                    href="/organigrama"
                    link_label="Ver Organigrama..."
                />
                <PoliceInfoCard
                    title="Noticias" 
                    desc="Revisa las noticias más recientes relacionadas a la ciudad." 
                    href="#"
                    link_label="Ver Operativos..."
                />
            </GridContainer>
        </div>
</Layout>
    </div>   
</Layout>

<style>
    .body-content {
        display: flex;
        flex-direction: column;   
    }
    .officer-stats-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .police-info-container {
        margin-top: 25px;
    }
    
</style>